<div class="container"
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://github.com/noch4ms/">NoCh4ms</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", home_about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
